<body>
    <footer>
        <div class="menu">
            <ul>
                <li><a href="#">WHAT WE DO</a></li>
                <li><a href="#">WHO WE ARE</a></li>
            </ul>

    </footer>        
</body>

