<body>
   <div class="wrapper">
      <header>
         <nav>
            <div class="menu-icon">
               <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
               LOGO
            </div>
            <div class="menu">
               <ul>
                  <li><a href="#">WHAT WE DO</a></li>
                  <li><a href="#">WHO WE ARE</a></li>
               </ul>
            </div> 
            <div></div>
         </nav>
      </header>
   </div>

   <script>
      $(document).ready(function() {
         $(".menu-icon").on("click", function() {
               $("nav ul").toggleClass("showing");
         });
   });

   // Scrolling Effect

   $(window).on("scroll", function() {
         if($(window).scrollTop()) {
               $('nav').addClass('black');
         }

         else {
               $('nav').removeClass('black');
         }
   })
   </script>
</body>