<body>
    <div class="wrapper">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1681826953/friends%20of%20the%20forest/Donal_Boyd_-_Sage_of_the_Forest_n9mmom.jpg" class="group-image-monkey">
        <section>
            <div class="group-philosophy">
                <h2>WHO ARE WE</h2>
                <div class="boxes-philosophy">
                    <div class="horizontal">
                        <div class="box box-1">
                            <h3>Our Philosophy</h3>
                            <p>Saving one of the world’s rarest birds and Bali’s emblem bird, the Bali Starling, from the brink of extinction in the wild
                                Transforming the Balinese island of Nusa Penida into a unique sanctuary for endangered birds
                                The reforestation of more than 415 hectares – equivalent to about 775 football fields – of national park and wildlife reserve in Kalimantan, on the island of Borneo</p>
                        </div>
                        <div class="box box-2">
                            <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1681994322/friends%20of%20the%20forest/Screenshot_2023-04-20_at_14.38.23_dxdubp.png" alt="" class="box-image">
                        </div>
                    </div>
                    <div class="horizontal">
                        <div class="box box-3">
                            <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1681994332/friends%20of%20the%20forest/Screenshot_2023-04-20_at_14.38.04_gfqx4x.png" alt="" class="box-image">
                        </div>
                        <div class="box box-4">
                            <h3>Our Values</h3>
                            <p>Relocating dozens of orangutans to safety from the palm oil plantations of Kalimantan, Borneo
                            Improving the wellbeing and livelihood of hundreds of Indonesian people</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="group-donate">
            </div>
        </section>
        <section>
            <div class="group-image-sheep">
        </section>
        </div>
    </div>
</body> 